<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism"/>
  </configSections>
  <modules>
    <module assemblyFile="Modules/ModuleA.dll" 
            moduleType="Wpf.ModuleA.ModuleAModule, ModuleA, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" 
            moduleName="ModuleA" startupLoaded="true" />
  </modules>-->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
</configuration>